.App {
  
}

.header{
  width: 100%;
  text-align: center;
}

.headerImage{
  display: inline-block;
  margin: 0 auto;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.logo{
  height: 50px;
  opacity: 25%;
}

.headerTitle{
  text-align: left;
}

.landingPage{
  text-align: center;
}

.landingPageBox{
  padding: 25px;
}

.instructionP{
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.loadingBar{
  margin-top: 20px;
}

.mountImageParent{
  position: relative;
}

.display{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.mountImage{
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  height: 500px;
  width: 500px;
}

.displayAlert{
  

}

.displayAlertText {
  display: inline;
  padding: 10px;
}

.footer{
  padding-top: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.gameDataParent{
  text-align: center;
  padding-top: 50px;
}

.gameData{
  display: inline;
  padding: 20px;
  color:rgb(1, 67, 97);
}

.restartButton:hover{
  color: #FF0000;
}

.gameOver{
  text-align: center;
}

.gameOverTitle{
  padding-top: 50px;
  color:rgb(1, 67, 97);
}

.recapTitle{
  text-align: left;
  padding-top: 100px;
  padding-left: 15%;
  color:rgb(1, 67, 97);
}

.incorrectAnswer{
  color: red;
}


@media screen and (max-width: 600px) {
  .mountImage{
    width: 100%;
  }
}





