.App{
  background-color: #212B2A;
  overflow: hidden;
  text-align: center;
  min-height: 100%;
}

/*Header component styles*/
.header{
  width: 100%;
  text-align: center;
  background-color: transparent;
}

.logo{
  height: 65px;
  right: 0;
}

.header-title{
  text-align: left;
}

.sudden-death-title{
  padding-left: 10px;
  font-style: italic;
  color: #67032F;
}


/*Landing page styles*/
.mount-trivia{
  position:absolute
}

.landing-buttons{
  position: absolute;
  right: 0;
}

.start-button{
  padding-bottom: 20px;
}

/*MountImage component styles*/
.mount-image-parent{
  position: relative;
}

.display-result{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.mount-image{
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  height: 500px;
  width: 500px;
}

.button-stack{
  padding-bottom: 20px;
}

.display-alert-text {
  display: inline;
  padding: 10px;
}

/*Footer component styles*/
.footer{
  position: relative;
  height: 100px;
  margin: 10px;
  width: auto;
}

.bottom-nav{
  padding: 15px;
  align-items: center;
  border-radius: 50px;
  background-color: #67032F;
}

.game-data{
  display: inline;
  padding: 20px;
  color: black;
}

.restart-button:hover{
  color: #FF0000;
}

/*Game over component styles*/
.game-over{
  text-align: center;
}

.game-over-title{
  padding-top: 50px;
  color: white;
  border: #67032F;
}

.recap-title{
  text-align: left;
  padding-top: 100px;
  padding-left: 15%;
  color: white;
}

.recap-image-title{
  color: white;
}

.incorrect-answer{
  color: red;
  size: 1rem;
}

/*Media queries*/
@media screen and (max-width: 600px) {
  .mountImage{
    width: 100%;
  }
}


